.outer {
    border: 5px solid black;
    border
}

.box {
    padding: 10px;
    width: calc(70% - 25px);    
    background-color: rebeccapurple;
    color: white;
}

.boxR {
    margin: 30px;
    width: 100px;
    height: 100px;
    background-color: brown;
    transform: rotate(0.2turn); 
}
