.special {
    font-size:x-large        
}

body h1 + p .special {
    color:yellow;
    background-color: black;
    padding: 5px;
}

articulo p span {
    color: aqua;
}

h1 + ul + p {
    color: blueviolet;
}

