.special {
    color:orange;
    font-weight: bold;
    font-size: larger;
}

ol.normal {
    list-style-type: upper-alpha;
}


ol.lower {
    list-style-type: lower-greek;
}


ol.decimal {
    list-style-type: decimal-leading-zero;
}

