<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi página inicial</title>
</head>
<body>
    <h1>Esta es mi página</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, tempore necessitatibus dolores similique consequatur expedita nostrum reiciendis quod reprehenderit, laborum placeat eius nisi id aperiam tenetur animi impedit odio nesciunt.
    </p>
    <h3>Fin de mi páina</h3>
</body>
</html>