ul {
    list-style-type:circle;
}

.naranja {
    color: orange;
    font-weight: bold;
    font-size: x-large;
}

ol.normal {
    list-style-type: upper-alpha;
}

ol.minuscula {
    list-style-type: lower-greek;
}

ol.con_cero {
    list-style-type: decimal-leading-zero;
}
