.flex-container {
    display: flex;
    background-color: dodgerblue;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
}

.flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 50px;
}